body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
}
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.results-wrapper{
    width: 80%;
    margin: 50px auto 0;
}

.single-result{
box-shadow: 5px 10px rgba(0,0,0,.1);
border: 1px solid rgba(0,0,0,.1);
padding: 10px;
}

.result-hr{
  width: 50%;
  margin-left: 0;
}

.result-badge-margin{
  margin-bottom: 10px;
}

.result-badge-topic{
  background-color: #39CCCC;
  color: #fff;
}

.button-submit-query{
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 20%;
  margin: 1em auto;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.button-submit-query:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}
